@keyframes topDown {
	from { top: -100px; }
	to { top: 7px; }
}

@keyframes bounce {
	from { font-size: 2em; }
	to { font-size: 2.2em; }
}

@keyframes entranceLeft {

	from { left: 0px; }
	to { left: 220px; }
}

@keyframes entranceRight {
	from { right: 0px; }
	to { right: 220px; }
}

@keyframes fadeinOpacity {
	from { opacity: 0 }
	to { opacity: 1 }
}

@keyframes fadeOutOpacity {
	from { opacity: 1 }
	to { opacity: 0 }
}

@keyframes fadein {
	from { background-color: rgb(240,58,105); }
	to { background-color: #fff }
}

@keyframes colorChange {
	from { color: teal; }
	to { color: rgb(240,58,105); }
}

@keyframes size {
	from { font-size: 0px; }
	to { font-size: 30px; }
}

@keyframes colorIn {
	from { filter: grayscale(100%); }
	to { filter: grayscale(0%); }
}

@keyframes grayscale {
	from { filter: grayscale(0%); }
	to { filter: grayscale(100%); }
}

@keyframes menu-bg-fade {
	from { background-color: salmon; }
	to { background-color: rgb(204,202,190); }
}

@keyframes menu-bg-fade-out1 {
	from { background-color: rgb(204,202,190); }
	to { background-color: salmon; }
}

@keyframes menu-bg-fade-midway {
	from { background-color: rgb(204,202,190); }
	to { background-color: rgb(168,86,79); }
}

@keyframes menu-bg-fade-back {
	from { background-color: rgb(168,86,79); }
	to { background-color: rgb(204,202,190); }
}


// @keyframes grayscale100 {
// 	from { filter: grayscale(0%); }
// 	to { filter: grayscale(to); }
// }

@keyframes blurOut {
	from { margin-left: 0; }
  to { margin-left: 60px; }

	from { filter: blur(5px); }
		to { filter: blur(0px); }
}

@keyframes blurIn {
	from { filter: blur(0px); }
	to { filter: blur(5px); }
}

@keyframes blurOut {
	from { filter: blur(5px); }
	to { filter: blur(10px); }
}

@keyframes motion {
	from { margin-left: 0; }
  to { margin-left: 340px; }
}

@keyframes blurOut {
	from { filter: blur(0px); }
	to { filter: blur(5px); }
}



























