.menu-background {
	margin-top: -100px;
	z-index: -10;
	position: absolute;
	height: 300px;
	width: 100%;
	background-color: rgb(220, 118, 51);
/*	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-image: url("../img/mind.jpg");*/
}

.sam {
	color: #ffffff;
	font-size: 20px;
}

.sam-picture {
	width: 180px;
}

.menu-background2 {
	border: 1px solid black;
	position: fixed;
	margin-left: 20px;
	z-index: 10;
	top: 38px;
	background-color: salmon;
	height: 90px;
	width: 100%;
	margin: 0;
}

ul {
	animation: topDown 1s forwards;
	z-index: 10;
	position: fixed;
	margin-left: -140px;
}

li {
	cursor: pointer;
	padding: 8px;
	box-shadow: 1px 1px 2px black;
	font-family: 'Barrio', cursive;
	text-align: center;
	width: 300px;
	margin: 40px;
	border-radius: 5px;
	font-size: 20px;
	color: rgb(240,58,105);
	text-shadow: 1px 1px 2px black;
	display: inline-block;
	background-color: black;
	&:hover {

	animation: fadein 1s;
	background-color: #fff;
	color: teal;
	text-shadow: 1px 1px 2px black;
	}
}

.porfolio {
	padding-top: 20px;
}

.github {
	padding-top: 4px;
}

.gitTab {
	height: 35px;
}














