.skills-container {
	color: #fff;
	position: absolute;
	z-index: -100;
	margin-top: 1300px;
	width: 70%;
	height: 500px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-image: url("../img/pov.jpg");
}

