.menu-background {
	margin-top: -100px;
	z-index: -10;
	position: absolute;
	height: 300px;
	width: 100%;
	background-color: rgb(220, 118, 51);
/*	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-image: url("../img/mind.jpg");*/
}

ul {
	
	margin-left: -50px;
	width: 	42%;
}

li {
	box-shadow: 1px 1px 2px black;
	font-family: 'Baloo', cursive;
	text-align: center;
	width: 100px;
	margin: 10px;
	border-radius: 5px;
	font-size: 20px;
	color: #fff;
	text-shadow: 1px 1px 2px black;
	display: inline-block;
	background-color: rgb(28, 40, 51);
}


li:hover {
	animation: fadein .25s;
	background-color: #fff;
	color: #000;
	text-shadow: 0px 0px 0px;
}












