@import 'variables';
@import 'keyframes';

@import 'contact';
@import 'about';
@import 'index';
@import 'menu';
@import 'skills-container';
@import 'video-bg';

body {
	margin: 0;
	margin-top: 80px;
	background-color: #000;
}

 .site-container {
	max-width: 1000px;
   	margin: 0 auto; 
    margin: 0 auto;
 }
