
<div class="lr-container">
	<div class="left-background">
		<h1 class="helloWorld blurHover">Hello World<span class="period blurHover noDisplay"
		>.</span></h1>
		<p class=" bio blurHover">I Am A Student, A Divulger... An Indulger.</p>
		<p class=" bio blurHover"> A Free Spirit Roaming The Earth Through The World Of Code.</p>
	</div>
	<div class="right-background">


		<!-- right side	 -->
<!-- 	<div class="right-side">
		<img class="main-pic" src="img/sam.jpg">
	</div>	 -->
	</div>	
</div>
	<div class="left-side">	    
</div>  		

<!-- <div class="middle">
	<div class="parallax"></div>	
</div> -->

