<div  class="display"></div>	


<div class="site-container" id="box">
<div id="display"></div>
		<div class="outer">
 			<div class="inner"></div>
		</div>

	<div class="lr-container">
		<div class="left-background">
			<h1 class="helloWorld blurHover bounce">Hello World<span class="period blurHover noDisplay"
			>,</span></h1>
			<p class=" bio blurHover">I Am A Student, A Divulger... An Indulger.</p>
			<p class=" bio blurHover"> A Free Spirit Roaming The Earth Through The World Of Code.</p>
			<p class="samName">I am Samuel Almeida.</p>
			<img class="sam-picture" src="img/sam.jpg" alt="">
		</div>
			<div class="right-background"></div>	
	</div>

</div>
	

<div class="parallax"></div>



<div class="skills-container">
	<div class="skills-image"></div>
</div>

<div class="content"></div>



