<!DOCTYPE html>
<html>
  <head>
  	<title>Sam</title>
   <!-- ---------------------- -->
		<link href="https://fonts.googleapis.com/css?family=Quattrocento" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Baloo" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Barrio" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Barrio" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet">
	<!-- ---------------------- -->
		<link rel="stylesheet" href="/css/style.css">
	<!-- ---------------------- -->

  </head>
  <body>
	    <div class="menu-background"></div>
  			<div class="menu-background2"></div>
  	<div class="site-container">
		  		<ul class="menu">
		  			<a href="/"><li class="home" id="home">Home</li></a>
		  			<a href="/photos"><li class="photo" id="photos">Photos</li></a>
		  			<a href="/contact"><li class="contact" id="contact">Contact</li></a>
		  		</ul>
		<%= yield %>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="/js/main.js"></script>
	</div>
  </body>
</html>
