<!DOCTYPE html>
<html>
  <head>
  	<title>Sam</title>
   <!-- ---------------------- -->
		<link href="https://fonts.googleapis.com/css?family=Quattrocento" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Baloo" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Barrio" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Barrio" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Alfa+Slab+One" rel="stylesheet">
	<!-- ---------------------- -->
		<link rel="stylesheet" href="/css/style.css">
	<!-- ---------------------- -->
  </head>
  <body>
	    <div class="menu-background"></div>
  			<div class="menu-background2">
  				<div class="circle"></div>
  			</div>
  	<div class="site-container">
		  		<ul class="menu">
		  			<a href="/"><li class="porfolio li" id="home">Portfolio</li></a>

		  			<a href="https://www.linkedin.com/in/sam-almeida/"><li class="li">LinkedIn<span><img class="linkedin" src="/img/linkedin.png"></span></li></a>

		  			<a href="https://github.com/samroger"><li class="gitTab li">GitHub<span><img class="github" src="/img/github.png"></span></li></a>
		  		</ul>
	</div>
		  		
		<%= yield %>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/main.js"></script>
	</div>
  </body>
</html>
