@keyframes topDown {
  from {
    top: -100px; }
  to {
    top: 7px; } }
@keyframes bounce {
  from {
    font-size: 2em; }
  to {
    font-size: 2.2em; } }
@keyframes entranceLeft {
  from {
    left: 0px; }
  to {
    left: 220px; } }
@keyframes entranceRight {
  from {
    right: 0px; }
  to {
    right: 220px; } }
@keyframes fadeinOpacity {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes fadeOutOpacity {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }
@keyframes fadein {
  from {
    background-color: #f03a69; }
  to {
    background-color: #fff; } }
@keyframes colorChange {
  from {
    color: teal; }
  to {
    color: #f03a69; } }
@keyframes size {
  from {
    font-size: 0px; }
  to {
    font-size: 30px; } }
@keyframes colorIn {
  from {
    filter: grayscale(100%); }
  to {
    filter: grayscale(0%); } }
@keyframes grayScale {
  from {
    filter: grayscale(0%); }
  to {
    filter: grayscale(100%); } }
@keyframes menu-bg-fade {
  from {
    background-color: salmon; }
  to {
    background-color: #cccabe; } }
@keyframes menu-bg-fade-out1 {
  from {
    background-color: #cccabe; }
  to {
    background-color: salmon; } }
@keyframes menu-bg-fade-midway {
  from {
    background-color: #cccabe; }
  to {
    background-color: #a8564f; } }
@keyframes menu-bg-fade-back {
  from {
    background-color: #a8564f; }
  to {
    background-color: #cccabe; } }
@keyframes blurOut {
  from {
    margin-left: 0; }
  to {
    margin-left: 60px; }
  from {
    filter: blur(5px); }
  to {
    filter: blur(0px); } }
@keyframes blurIn {
  from {
    filter: blur(0px); }
  to {
    filter: blur(5px); } }
@keyframes blurOut {
  from {
    filter: blur(5px); }
  to {
    filter: blur(10px); } }
@keyframes motion {
  from {
    margin-left: 0; }
  to {
    margin-left: 340px; } }
@keyframes blurOut {
  from {
    filter: blur(0px); }
  to {
    filter: blur(5px); } }
input[type=text], select, textarea {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 16px;
  resize: vertical; }

.containerContact {
  box-shadow: 1px 1px 2px black;
  border-radius: 15px;
  padding: 10px;
  background-color: #998270;
  margin: 0 auto;
  width: 500px;
  margin-top: 50px; }

.submit-container {
  text-align: center; }

.submit {
  cursor: pointer; }

h3 {
  text-align: center;
  font-size: 40px;
  font-family: Futura; }

body {
  width: 100%;
  margin-top: 20px;
  background-color: #e8ceb3; }

.pic:hover {
  border: 4px solid teal; }

.pic {
  box-shadow: 1px 1px 2px;
  border: 1px solid black;
  border-radius: 20px;
  min-width: 150px;
  margin: 10px;
  width: 180px;
  height: 180px;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../img/philly_1.jpg"); }

.tile-container {
  position: relative;
  margin: 0 auto;
  top: 0px;
  display: flex;
  flex-wrap: wrap;
  max-width: 800px; }

.boxes {
  width: 50px;
  height: 50px;
  background-color: black; }

.picShow {
  border: 1px solid black;
  box-shadow: 4px 4px 6px;
  display: none;
  border-radius: 20px;
  width: 850px;
  height: 650px;
  background-size: 100%;
  background-image: url("../img/philly_1.jpg"); }

.lr-container {
  margin-top: 100px; }

.blurHover:hover {
  animation: blurIn 2s forwards; }

.bio {
  font-family: 'Barrio', cursive;
  font-weight: bold;
  animation: fadeinOpacity 5s forwards;
  color: #fff;
  font-family: 'Poiret One', cursive; }

.period {
  color: teal; }

.bounce {
  animation: bounce 2s; }

.helloWorld {
  text-shadow: 1px 1px 2px black;
  animation: colorChange 2s;
  color: #f03a69;
  font-family: 'Barrio', cursive; }

.left-background {
  border-radius: 10px;
  padding-top: 100px;
  display: inline-block;
  text-align: center;
  margin-top: 70px;
  position: absolute;
  z-index: -10;
  background-color: #1c2833;
  width: 501px;
  height: 547px; }
  .left-background:hover {
    animation: sepiain 5s forwards; }

.right-background {
  border-radius: 10px;
  float: right;
  z-index: -10;
  margin-top: 70px;
  width: 499px;
  height: 647px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("../img/ralph-2.jpg"); }
  .right-background:hover {
    cursor: pointer;
    animation: sepiain 5s forwards; }

.samName {
  text-shadow: 1px 1px 2px black;
  color: #dc7633;
  font-family: 'Barrio', cursive; }

.sam-picture {
  animation: sepia 10s forwards;
  box-shadow: 1px 1px 2px black;
  border-radius: 5px;
  width: 180px; }
  .sam-picture:hover {
    cursor: pointer;
    animation: sepiain 5s forwards; }

.parallax {
  padding: 100px;
  position: relative;
  z-index: -100;
  top: 715px;
  background-image: url("../img/mind.png");
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.linkedin, .github {
  margin-left: 7px;
  width: 30px; }

.menu-background {
  margin-top: -100px;
  z-index: -10;
  position: absolute;
  height: 300px;
  width: 100%;
  background-color: #dc7633;
  /*	background-repeat: no-repeat;
  	background-size: cover;
  	background-position: center;
  	background-image: url("../img/mind.jpg");*/ }

.sam {
  color: #ffffff;
  font-size: 20px; }

.sam-picture {
  width: 180px; }

.menu-background2 {
  animation: menu-bg-fade-out1 1s forwards;
  transition: all 1s;
  border: 1px solid black;
  position: fixed;
  margin-left: 20px;
  z-index: 10;
  top: 38px;
  background-color: salmon;
  height: 90px;
  width: 100%;
  margin: 0; }

ul {
  animation: topDown 1s forwards;
  z-index: 10;
  position: fixed;
  margin-left: -140px; }

li {
  cursor: pointer;
  padding: 8px;
  box-shadow: 1px 1px 2px black;
  font-family: 'Barrio', cursive;
  text-align: center;
  width: 300px;
  margin: 40px;
  border-radius: 5px;
  font-size: 20px;
  color: #f03a69;
  text-shadow: 1px 1px 2px black;
  display: inline-block;
  background-color: black; }
  li:hover {
    animation: fadein 1s;
    background-color: #fff;
    color: teal;
    text-shadow: 1px 1px 2px black; }

.porfolio {
  padding-top: 20px; }

.github {
  padding-top: 4px; }

.gitTab {
  height: 35px; }

.skills-container {
  margin-top: 716px;
  width: 100%;
  height: 504px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("../img/constellation.gif"); }

.skills-image {
  margin-top: 100px;
  margin: 0 auto;
  width: 70%;
  height: 500px;
  background-color: teal; }

.content {
  height: 1000px;
  width: 100%;
  background-color: teal; }

.video {
  width: 100%; }

body {
  width: auto;
  margin: 0;
  margin-top: 80px;
  background-color: #000; }

.site-container {
  max-width: 1000px;
  margin: 0 auto;
  margin: 0 auto; }

.display {
  position: fixed;
  z-index: 1000;
  font-size: 30px;
  color: teal;
  margin-left: 10px; }

/*# sourceMappingURL=style.css.map */
